<div class='li'>
	

	<button class="change-devoured btn btn-primary btn-md justify-content-right" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOUR!{{/if}}
	</button>

	{{id}}. {{name}}
</div>
